<% include templates/header.ejs %>

<div class="row">
    <div class="col-sm-8 col-8">
        <h1><i class="fa fa-home" aria-hidden="true"></i><em><b> <%= title %></b></em></h1>
        <br>
        <br>

            <% for (post of articles) { %>
                <div>
                <h2><a href="#"><%= post.titre %></a></h2>
                <a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i><em class="shadow"> <%= post.categorie %></em></a>
               <p>
                <p><%- post.contenu %></p>
                </p>
                <b><hr></b>
           
            </div>
             <% } %>

        <div>
            <br>
            <ul class="pagination justify-content-center ">
                <li class="page-item <% if (pa.p == 1) { %> <%='disabled'%>  <% } %>">
                    <a class="page-link" href="/category=<%=pa.cat%>=<%=pa.id%>/<%= pa.p-1 %>">&laquo;</a>
                </li>

                <% for(var i=1;i<=pa.nbr;i++) { %>                  
                <li class="page-item  <% if (pa.p ==i) { %> <%='active'%>  <% } %>">
                    <a class="page-link" href="/category=<%=pa.cat%>=<%=pa.id%>/<%= i %>"><%= i %></a>
                </li>
                <% } %>

                <li class="page-item <% if (pa.p >=pa.nbr) { %> <%='disabled'%>  <% } %>">
                    <a class="page-link" href="/category=<%=pa.cat%>=<%=pa.id%>/<%= (pa.p*1)+1 %>">&raquo;</a>
                </li>

            </ul>
        </div>


    </div>
    <div class="col-sm-4 col-4">
        <br><br><br>
        <h2><i class="fa fa-folder-open-o" aria-hidden="true"></i><em> Categories</em></h2>
        <% for(cat of categories) { %>
        <li class="list-unstyled"><a href="/category=<%=cat.titre%>=<%=cat.id%>/1"><%=cat.titre%></a></li>
    <% } %>
    </div>
</div>

<% include templates/footer.ejs %>