<% include templates/header.ejs %>

<div class="row">
    <div class="col-sm-8 col-8">
        <h1><i class="fa fa-home" aria-hidden="true"></i><em><b> Home</b></em></h1>
        <br>
        <br>
            <% for (post of articles) { %>
                <div>
                <h2><a href="/category=<%= post.categorie %>/post=<%= post.titre %>/<%= post.id %>/"><%= post.titre %></a></h2>              
                <a href="/category=<%=post.categorie%>=<%=post.catid%>/1"><i class="fa fa-folder-open-o" aria-hidden="true"></i><em class="shadow"> <%= post.categorie %></em></a>
                <p><%- sanitizeHtml(post.contenu+` ...`) %>
                    <a href="/category=<%= post.categorie %>/post=<%= post.titre %>/<%= post.id %>/">Voir la suite</a>
                </p>
                <div class="text-right"><em><%= ago(post.date) %></em></div>
                <b><hr></b>
           
            </div>
             <% } %>


            <br>
            <ul class="pagination justify-content-center ">
                <li class="page-item <% if (pa.p == 1) { %> <%='disabled'%>  <% } %>">
                    <a class="page-link" href="/<%= pa.p-1 %>">&laquo;</a>
                </li>

                <% for(var i=1;i<=pa.nbr;i++) { %>                  
                <li class="page-item  <% if (pa.p ==i) { %> <%='active'%>  <% } %>">
                    <a class="page-link" href="/<%= i %>"><%= i %></a>
                </li>
                <% } %>

                <li class="page-item <% if (pa.p >=pa.nbr) { %> <%='disabled'%>  <% } %>">
                    <a class="page-link" href="/<%= (pa.p*1)+1 %>">&raquo;</a>
                </li>



    </div>
    <div class="col-sm-4 col-8">
        <br><br><br>
        <h2><i class="fa fa-folder-open-o" aria-hidden="true"></i><em> Categories</em></h2>
        <% for(cat of categories) { %>
        <li class="list-unstyled"><a href="/category=<%=cat.titre%>=<%=cat.id%>/1"><%=cat.titre%></a></li>
    <% } %>
    </div>
</div>

<% include templates/footer.ejs %>