<% include templates/header.ejs %>

<div class="row">
    <div class="col-sm-8 col-8">
        <h1><i class="fa fa-home" aria-hidden="true"></i><em><b> <%= title %></b></em></h1>
        <br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i><em> Home</em></a></li>
            <li class="breadcrumb-item active"><i class="fa fa-file-text-o" aria-hidden="true"></i> <em><%=pa.query%></em></li>
        </ol>
        <br>
            <% for (post of articles) { %>
                <div>
                <h2><a href="/category=<%= post.categorie %>/post=<%= post.titre %>/<%= post.id %>/"><%= post.titre %></a></h2>
                <a href="/category=<%=post.categorie%>=<%=post.catid%>/1"><i class="fa fa-folder-open-o" aria-hidden="true"></i><em class="shadow"> <%= post.categorie %></em></a>
                <p><%- sanitizeHtml(post.contenu+` ...`) %>
                    <a href="/category=<%= post.categorie %>/post=<%= post.titre %>/<%= post.id %>/">Voir la suite</a>
                </p>
                <div class="text-right"><em><%= ago(post.date) %></em></div>
                <b><hr></b>
           
            </div>
             <% } %>

        <div>
            <br>
            <ul class="pagination justify-content-center ">
                <li class="page-item <% if (pa.p == 1) { %> <%='disabled'%>  <% } %>">
                    <a class="page-link" href="/search/<%= pa.p-1 %>/?search=<%= pa.query %>">&laquo;</a>
                </li>

                <% for(var i=1;i<=pa.nbr;i++) { %>                  
                <li class="page-item  <% if (pa.p ==i) { %> <%='active'%>  <% } %>">
                    <a class="page-link" href="/search/<%= i %>/?search=<%= pa.query %>"><%= i %></a>
                </li>
                <% } %>

                <li class="page-item <% if (pa.p >=pa.nbr) { %> <%='disabled'%>  <% } %>">
                    <a class="page-link" href="/search/<%= (pa.p*1)+1 %>/?search=<%= pa.query %>">&raquo;</a>
                </li>

            </ul>
        </div>


    </div>
    <div class="col-sm-4 col-4">
        <br><br><br>
        <h2><i class="fa fa-folder-open-o" aria-hidden="true"></i><em> Categories</em></h2>
        <% for(cat of categories) { %>
        <li class="list-unstyled"><a href="/category=<%=cat.titre%>=<%=cat.id%>/1"><%=cat.titre%></a></li>
    <% } %>
    </div>
</div>

<% include templates/footer.ejs %>